@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #fdfdff;

    --card-bg-color: #e3e4e8;

    --main-text-color: #000;
    --description-text-color: #2c2c2c;

    /*--navbar-bg-color: #fff;*/


    @media (prefers-color-scheme: dark) {
        --bg-color: #1e1e1e;
        /*--navbar-bg-color: #3e3e3e;*/

        --card-bg-color: #262627;

        --main-text-color: #fff;
        --description-text-color: #e2e8f0;
    }
}

* {
    color: var(--main-text-color);
}

html, body {
    min-height: 100dvh;
    background-color: var(--bg-color);
}

.logo {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    color: var(--main-text-color);
}

.description {
    color: var(--description-text-color);
    font-size: 18px;
}